!/dist/.gitkeep
/.box/
/.box_dump/
/.phpunit*
/.phpunit.result.cache
/actual_terminal_diff
/bin/*
/dist/
/tests/TerminalCompatibility/actual_diff
/vendor/
!/fixtures/*/expected-output-*-dist
/fixtures/*/*.phar
/fixtures/*/actual-output
/fixtures/*/expected-output-*
/fixtures/*/vendor/
