{
    "check-requirements": false,
    "shebang": null,
    "compactors": [
        "KevinGH\\Box\\Compactor\\Php",
        "KevinGH\\Box\\Compactor\\PhpScoper",
        "KevinGH\\Box\\Compactor\\Json"
    ]
}
