<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheResultFile="dist/.phpunit.result.cache">

    <php>
        <!-- The width is matching the Travis one to avoid any issues with the CI -->
        <env name="COLUMNS" value="80" />

        <!-- required for output buffering -->
        <env name="BOX_REQUIREMENTS_CHECKER_LOG_TO_STDOUT" value="1" />
    </php>

    <testsuites>
        <testsuite name="AutoReview">
            <directory>tests/AutoReview</directory>
        </testsuite>

        <testsuite name="UnitTests">
            <directory>tests/</directory>
            <exclude>tests/AutoReview</exclude>
        </testsuite>
    </testsuites>

</phpunit>
