/.* export-ignore
/dist/ export-ignore
/fixtures/ export-ignore
/requirement-checker/ export-ignore
/tests/ export-ignore
/vendor-bin/ export-ignore
/composer.lock export-ignore
/infection.json.dist export-ignore
/Makefile export-ignore
/Makefile.e2e export-ignore
/mkdocs.yaml export-ignore
/phpbench.json export-ignore
/phpunit.xml.dist export-ignore
/rector.php export-ignore
/scoper.inc.php export-ignore
