/.box_dump/
/requirement-checker/.box_dump/
/box
/*.phar
/*.phar.sig
/box.json
/bin/
!/bin/box
!/bin/box.bat
!/bin/generate_default_stub
/dist/
/Dockerfile*
/fixtures/default_stub.php
/fixtures/**/*/vendor/
/fixtures/build/dir010/*.phar
/fixtures/build/dir011/*.phar
/fixtures/build/dir011/*output
/fixtures/build/dir011/phar-Y.php
/fixtures/build/dir012/bin/console.phar
/fixtures/build/dir012/actual-output
/fixtures/build/dir012/expected-output
/fixtures/check-requirements/*/actual-output
/fixtures/check-requirements/*/expected-output-*
!/fixtures/check-requirements/*/expected-output-*-dist
/fixtures/check-requirements/*/*.phar
/fixtures/php-settings-checker/*
!/fixtures/php-settings-checker/index.php
!/fixtures/php-settings-checker/output-*
/fixtures/php-settings-checker/output-xdebug-enabled
!/fixtures/php-settings-checker/create-expected-output
/.phpunit*
/.requirement-checker/
/requirement-checker/bin/*
!/requirement-checker/bin/check-requirments.php
/requirement-checker/actual_terminal_diff
/requirement-checker/.box/
/requirement-checker/vendor/
/requirement-checker/.phpunit*
/vendor/
/vendor-bin/*/composer.lock
/vendor-bin/*/vendor/
/.php_cs.cache
/.phpcs-cache
/.php-cs-fixer.cache
/phpunit.xml
/phpcs.xml
/website/
/site/
