/*.phar
/*.phar.sig
/.box_dump/
/.php-cs-fixer.cache
/.php_cs.cache
/.phpcs-cache
/.phpunit*
/Dockerfile*
/bin/_box.phar
/bin/box.phar
/box
/box.json
/dist/
/fixtures/**/*/vendor/
/fixtures/build/**/*/vendor/
/fixtures/build/dir010/*.phar
/fixtures/build/dir011/*.phar
/fixtures/build/dir011/*output
/fixtures/build/dir011/phar-Y.php
/fixtures/build/dir012/actual-output
/fixtures/build/dir012/bin/console.phar
/fixtures/build/dir012/expected-output
/fixtures/default_stub.php
/fixtures/php-settings-checker/index.phar
/phpcs.xml
/phpunit.xml
/vendor-bin/*/composer.lock
/vendor-bin/*/vendor/
/vendor/
