/.box_dump
/box
/*.phar
/*.phar.sig
/box.json
/bin/
!/bin/box
!/bin/box.bat
!/bin/generate_default_stub
!/bin/dump-requirements-checker.php
/dist/
/Dockerfile*
/fixtures/default_stub.php
/fixtures/**/*/vendor/
/fixtures/build/dir010/*.phar
/fixtures/build/dir011/*.phar
/fixtures/build/dir011/*output
/fixtures/build/dir011/phar-Y.php
/fixtures/check-requirements/*/actual-output
/fixtures/check-requirements/*/expected-output-*
/fixtures/check-requirements/*/*.phar
/.phpunit*
/.requirement-checker/
/requirement-checker/bin/*
!/requirement-checker/bin/check-requirments.php
/requirement-checker/actual_terminal_diff
/requirement-checker/.box/
/requirement-checker/tests/DisplayNormalizer.php
/requirement-checker/vendor/
/vendor/
/vendor-bin/*/composer.lock
/vendor-bin/*/vendor/
/.php_cs.cache
/.phpcs-cache
/phpunit.xml
/phpcs.xml
