{
    "chmod": "0755",
    "main": "bin/box",
    "output": "bin/box.phar",
    "stub": true,

    "banner": [
        "This file is part of the box project.",
        "",
        "(c) Kevin Herrera <kevin@herrera.io>",
        "Théo Fidry <theo.fidry@gmail.com>",
        "",
        "This source file is subject to the MIT license that is bundled",
        "with this source code in the file LICENSE."
    ],

    "files": [
        "composer.json",
        "vendor/composer/composer/LICENSE"
    ],
    "directories": [
        "res",
        "src"
    ],

    "git-commit": "git-commit",
    "git-version": "git-version"
}
