{
    "chmod": "0755",
    "main": "bin/box",
    "output": "bin/box.phar",
    "stub": true,

    "banner": [
        "This file is part of the box project.",
        "",
        "(c) Kevin Herrera <kevin@herrera.io>",
        "Théo Fidry <theo.fidry@gmail.com>",
        "",
        "This source file is subject to the MIT license that is bundled",
        "with this source code in the file LICENSE."
    ],

    "files": [
        "vendor/composer/composer/LICENSE"
    ],
    "directories": [
        "res",
        "src"
    ],
    "finder": [
        {
            "notName":[
                "LICENSE*",
                "CHANGELOG*",
                "CONTRIBUTING*",
                "README*",
                "UPGRADE*",
                "Makefile",
                "appveyor*",
                "phpdoc*",
                "phpunit.xml*",
                "phpcs.xml*",
                "phpstan.neon*",
                "box.json*",
                "infection.json*",
                "humbug.json*",
                "phpbench.json*",
                "Vagrantfile",
                "composer.*"
            ],
            "exclude": [
                "bin",
                "File",
                "mikey179",
                "Net",
                "phpunit",
                "phpunit-test-case",
                "Tester",
                "Tests",
                "tests",
                "vendor",
                "build",
                "fixtures",
                "yaml",
                "test",
                "Test",
                "demo",
                "doc",
                "docs",
                "test_old",
                "specs",
                "dist",
                "travis",
                ".travis",
                "examples"
            ],
            "in": "vendor"
        }
    ],

    "compression": "GZ",
    "compactors": [
        "Herrera\\Box\\Compactor\\Json",
        "KevinGH\\Box\\Compactor\\PhpScoper",
        "Herrera\\Box\\Compactor\\Php"
    ],
    "git-commit": "git-commit",
    "git-version": "git-version"
}
