{
    "chmod": "0755",
    "main": "bin/box",
    "output": "bin/box.phar",
    "alias": "box.phar",

    "banner": [
        "This file is part of the box project.",
        "",
        "(c) Kevin Herrera <kevin@herrera.io>",
        "Théo Fidry <theo.fidry@gmail.com>",
        "",
        "This source file is subject to the MIT license that is bundled",
        "with this source code in the file LICENSE."
    ],

    "files": [
        "vendor/composer/composer/LICENSE"
    ],
    "directories": [
        "res",
        "src"
    ],
    "finder": [
        {
            "notName": "/LICENSE|.*\\.md|.*\\.dist|Makefile|composer\\.json|composer\\.lock/",
            "exclude": [
                "File",
                "mikey179",
                "Net",
                "phpunit",
                "phpunit-test-case",
                "Tester",
                "Tests",
                "tests",
                "vendor",
                "build",
                "fixtures",
                "yaml",
                "test",
                "Test",
                "demo",
                "doc",
                "docs",
                "test_old",
                "travis",
                ".travis"
            ],
            "in": "vendor"
        },
        {
            "name": "composer.json",
            "in": ".",
            "exclude": "vendor-bin"
        }
    ],

    "compression": "GZ",
    "compactors": [
        "Herrera\\Box\\Compactor\\Json",
        "KevinGH\\Box\\Compactor\\PhpScoper",
        "Herrera\\Box\\Compactor\\Php"
    ],
    "git-commit": "git-commit",
    "git-version": "git-version",

    "replacements": {
        "manifest_url": "https://box-project.github.io/box2/manifest.json"
    },
    "stub": true
}
