<?xml version="1.0" encoding="UTF-8"?>
<ruleset
        name="Doctrine"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor-bin/doctrine-cs/vendor/squizlabs/php_codesniffer/phpcs.xsd"
>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="80"/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg value="ps"/>

    <file>fixtures</file>
    <exclude-pattern>default_stub\.php</exclude-pattern>
    <exclude-pattern>src/Box\.php</exclude-pattern>
    <exclude-pattern>/vendor/</exclude-pattern>
    <exclude-pattern>/build/</exclude-pattern>
    <file>src</file>
    <file>tests</file>

    <rule ref="SlevomatCodingStandard.Commenting.InlineDocCommentDeclaration.InvalidFormat"/>
    <rule ref="SlevomatCodingStandard.Functions.StaticClosure"/>
    <rule ref="SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly.ReferenceViaFallbackGlobalName"/>
    <rule ref="SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly.ReferenceViaFullyQualifiedName">
        <exclude-pattern>src/bootstrap\.php</exclude-pattern>
        <exclude-pattern>src/functions\.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.Namespaces.UseDoesNotStartWithBackslash"/>
    <rule ref="SlevomatCodingStandard.PHP.OptimizedFunctionsWithoutUnpacking"/>
    <rule ref="SlevomatCodingStandard.PHP.TypeCast"/>
</ruleset>
