<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         failOnWarning="true"
         colors="true"
         executionOrder="random"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         cacheDirectory="dist/.phpunit-cache"
         cacheResultFile="dist/.phpunit.result.cache">

    <php>
        <env name="BOX_ALLOW_XDEBUG" value="1"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>

        <!-- The width is matching the Travis one to avoid any issues with the CI -->
        <env name="COLUMNS" value="80"/>
    </php>

    <testsuites>
        <testsuite name="AutoReviewTests">
            <directory>tests/AutoReview</directory>
            <exclude>tests/Benchmark</exclude>
        </testsuite>

        <testsuite name="Tests">
            <directory>tests/</directory>
            <exclude>tests/AutoReview</exclude>
            <exclude>tests/Benchmark</exclude>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src/</directory>
        </include>
        <exclude>
            <file>src/Bootstrap.php</file>
            <file>src/functions.php</file>
            <file>src/Console/Command/Build.php</file>
            <file>src/Console/Command/ChangeableWorkingDirectory.php</file>
            <file>src/PhpSettingsHandler.php</file>
            <directory>src/Console/Logger</directory>
            <directory>src/FileSystem</directory>
            <directory>src/Test</directory>
        </exclude>
    </source>
</phpunit>
