
Box Requirements Checker
========================

> Using PHP PHP_VERSION
> PHP is not using any php.ini file.

> No requirements found.

                                                                                
 [OK] Your system is ready to run the application.                              


