
Box Requirements Checker
========================

> Using PHP PHP_VERSION
> PHP is not using any php.ini file.

> Checking Box requirements:
  ✔ This application requires the extension "phar".
  ✘ This application conflicts with the extension "pdo".

                                                                                
 [ERROR] Your system is not ready to run the application.                       
                                                                                

Fix the following mandatory requirements:
=========================================

 * This application conflicts with the extension "pdo". You need to disable it
   in order to run this application.

