name: End-to-End Tests

on:
    workflow_run:
        workflows:
            - Release
        types:
            - completed

env:
    # TODO: adopt the composer-option strategy instead
    # Comma-space separated list, e.g. '8.1, 8.2, 9.0'
    FUTURE_PHP_VERSION: '9.0'

jobs:
    e2e-tests:
        runs-on: ubuntu-latest
        name: Test ${{ matrix.e2e }} (PHP ${{ matrix.php }}, ${{ matrix.tools }})
        strategy:
            fail-fast: false
            matrix:
                # TODO: split into regular e2e tests and docker e2e
                e2e:
                    - e2e_php_settings_checker
                    - e2e_scoper_alias
                    - e2e_scoper_expose_symbols
                    - e2e_symfony
                    - e2e_composer_installed_versions
                php: [ '8.1' ]
                tools: [ composer ]
        steps:
            -   name: Checkout
                uses: actions/checkout@v3
                with:
                    fetch-depth: 0

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    ini-values: phar.readonly=0, display_errors=On, error_reporting=-1
                    tools: ${{ matrix.tools }}
                    coverage: pcov

            # We cannot use the regular actions/download-artifact here since the artifact is stored
            # in a different workflow.
            # See https://github.com/actions/download-artifact/issues/172
            -   name: Retrieve built PHAR
                uses: dawidd6/action-download-artifact@v2
                with:
                    github_token: ${{secrets.GITHUB_TOKEN}}
                    workflow: release.yaml
                    check_artifacts: true
                    name: box-phar

            # The original target is for the publishing, which is different from the internal name used.
            -   name: Ensure the make target is up to date
                run: mv box.phar bin/box.phar && touch -c box

            # See https://github.com/actions/download-artifact#limitations
            # the permissions are not guaranteed to be preserved
            -   name: Ensure PHAR is executable
                run: chmod 755 bin/box.phar

            -   name: Check that the PHAR works
                run: bin/box.phar --ansi --version

            -   name: Build the Docker images
                if: matrix.e2e == e2e_php_settings_checker
                run: make docker_images

            -   run: make ${{ matrix.e2e }}

    # This is a "trick", a meta task which does not change, and we can use in
    # the protected branch rules as opposed to the tests one above which
    # may change regularly.
    validate-tests:
        name: E2E tests status
        runs-on: ubuntu-latest
        needs: e2e-tests
        if: always()
        steps:
            - name: Successful run
              if: ${{ !(contains(needs.*.result, 'failure')) }}
              run: exit 0

            - name: Failing run
              if: ${{ contains(needs.*.result, 'failure') }}
              run: exit 1
