name: Release

on:
    push:
        branches: [ main ]
    pull_request:
    release:
        types: [ created ]

jobs:
    build-phar:
        runs-on: ubuntu-latest
        name: Build PHAR
        steps:
            -   name: Checkout
                uses: actions/checkout@v3
                with:
                    fetch-depth: 0

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '8.1'
                    ini-values: phar.readonly=0
                    tools: composer
                    coverage: none

            -   name: Install Composer dependencies
                uses: ramsey/composer-install@v2

            -   name: Ensure that the make target is up to date
                run: make vendor_install

            -   name: Build PHAR
                run: make compile

            # Smoke test
            -   name: Ensure the PHAR works
                run: bin/box.phar --ansi --version

            -   name: Ensure the PHAR is scoped
                run: bin/box.phar namespace | php -r 'if (!str_starts_with(stream_get_contents(STDIN), "_HumbugBox")) exit (1);'

            -   name: Import GPG key
                if: github.event_name == 'release'
                uses: crazy-max/ghaction-import-gpg@v5
                with:
                    gpg_private_key: ${{ secrets.GPG_KEY_41539BBD4020945DB378F98B2DF45277AEF09A2F }}
                    passphrase: ${{ secrets.GPG_KEY_41539BBD4020945DB378F98B2DF45277AEF09A2F_PASSPHRASE }}

            -   name: Sign the PHAR
                if: github.event_name == 'release'
                run: |
                    gpg --local-user theo.fidry+box@gmail.com \
                        --batch \
                        --yes \
                        --passphrase="${{ secrets.GPG_KEY_41539BBD4020945DB378F98B2DF45277AEF09A2F_PASSPHRASE }}" \
                        --detach-sign \
                        --output bin/box.phar.asc \
                        bin/box.phar

            -   uses: actions/upload-artifact@v3
                name: Upload the PHAR artifact
                with:
                    name: box-phar
                    path: |
                        bin/box.phar
                        bin/box.phar.asc

    docker-build:
        runs-on: ubuntu-20.04
        name: Build the Docker image ${{ matrix.name }}
        strategy:
            fail-fast: false
            matrix:
                include:
                    - name: PHP 7.2.5
                      docker-file: ./docker/php725
                      image-tag: box_php725
                    - name: PHP 8.1
                      docker-file: ./docker/box_php81
                      image-tag: box_php81
                    - name: PHP 8.1 (Xdebug)
                      docker-file: ./docker/box_php81_xdebug
                      image-tag: box_php81_xdebug
        steps:
            -   name: Checkout
                uses: actions/checkout@v3

            -   name: Set up QEMU
                uses: docker/setup-qemu-action@v2

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v1
                with:
                    buildkitd-flags: --debug

            -   name: Login to GitHub Container Registry
                uses: docker/login-action@v2
                with:
                    registry: ghcr.io
                    username: ${{ github.repository_owner }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            -   name: Build and export to Docker
                uses: docker/build-push-action@v3
                with:
                    context: .
                    file: ${{ matrix.docker-file }}
                    platforms: linux/amd64
                    tags: ghcr.io/${{ matrix.image-tag }}
                    load: true

            -   name: Test the image
                run: docker run --rm ghcr.io/${{ matrix.image-tag }} php --version

            -   name: Build and push
                uses: docker/build-push-action@v3
                with:
                    context: .
                    file: ${{ matrix.docker-file }}
                    platforms: linux/amd64
                    tags: ghcr.io/${{ matrix.image-tag }}
                    push: true
                    cache-from: type=gha, scope=${{ github.workflow }}
                    cache-to: type=gha, scope=${{ github.workflow }}

    publish-phar:
        runs-on: ubuntu-latest
        name: Publish PHAR
        needs:
            - build-phar
        if: github.event_name == 'release'
        steps:
            -   uses: actions/download-artifact@v3
                with:
                    name: box-phar
                    path: .

            -   name: Upload box.phar
                uses: softprops/action-gh-release@v1
                with:
                    token: ${{ secrets.GITHUB_TOKEN }}
                    files: |
                        box.phar
                        box.phar.asc
