name: RequirementChecker

on:
    push:
        branches: [ main ]
    pull_request: ~

jobs:
    cs-lint:
        runs-on: ubuntu-latest
        name: Lint CS
        steps:
            -   name: Checkout
                uses: actions/checkout@v3

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '8.1'
                    tools: composer
                    coverage: none

            -   name: Install the Composer (root) dependencies
                uses: ramsey/composer-install@v2

            -   name: Ensure that the Makefile target is up to date
                run: make vendor_install

            -   name: Install PHP-CS-Fixer
                uses: ramsey/composer-install@v2
                with:
                    working-directory: 'vendor-bin/php-cs-fixer'

            -   name: Ensure that the PHP-CS-Fixer Makefile target is up to date
                run: make php_cs_fixer_install

            -   name: Install the Composer dependencies
                uses: ramsey/composer-install@v2
                with:
                    working-directory: 'requirement-checker'

            -   name: Ensure that the Makefile target is up to date
                run: cd requirement-checker; make vendor_install

            -   name: Lint CS
                run: cd requirement-checker; make cs_lint

    tests:
        runs-on: ubuntu-latest
        name: Tests
        strategy:
            fail-fast: false
            matrix:
                # The lowest dependency is tested via an e2e test rather than by executing the tests like so.
                # The reason being using tools such as PHPUnit for a version as low as the lowest supported version
                # is a serious strain for close to no benefits: the e2e test is simpler.
                php:
                    -   version: '8.1'
                        dependency: locked
                    -   version: '8.2'
                        dependency: highest

        steps:
            -   name: Checkout
                uses: actions/checkout@v3

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '${{ matrix.php.version }}'
                    tools: composer

            -   name: Install the Composer dependencies
                uses: ramsey/composer-install@v2
                with:
                    working-directory: 'requirement-checker'
                    dependency-versions: '${{ matrix.php.dependency }}'

            -   name: Ensure that the Makefile target is up to date
                run: cd requirement-checker; make vendor_install

            -   name: Runs the tests
                run: cd requirement-checker; make test

    # This is a "trick", a meta task which does not change, and we can use in
    # the protected branch rules as opposed to the tests one above which
    # may change regularly.
    validate-tests:
        name: Tests status
        runs-on: ubuntu-latest
        needs: tests
        if: always()
        steps:
            - name: Successful run
              if: ${{ !(contains(needs.*.result, 'failure')) }}
              run: exit 0

            - name: Failing run
              if: ${{ contains(needs.*.result, 'failure') }}
              run: exit 1
